canvas {
    display: block;
    margin: auto;
    border: 5px solid black;
    background-color: white;
}
body {
    background-color: #552871;
}
.con {
    display: flex;
    width: 300px;
    margin: 0 auto;
}
#playbutton {
    width: 100px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}